* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
img{
    display: inline-block;
    width: 50px;
    vertical-align: middle;
    

}
.title{
    display: inline-block;
    margin-left: 10px;
    font-size: 32px;
    vertical-align: middle;
}
.header{
    padding: 15px;
}
.macro-container{
    height: 800px;
    background-color: #80808053;
    padding: 40px 80px;
}
.container{
    max-height: auto;
    
    background-color: white;
}
.top-section .blue-button{
    display: inline-block;
    background-color: #1183edf8;
    padding: 10px;
    border-radius: 15px;
    color: white;
}
.top-section{
    padding: 10px 50px;
    border-bottom: 1px solid grey;
}
.white-button{
    background-color: white;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
    color: grey;
}

.macro-section{
    padding: 10px 50px;
}
.check-green{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 2px;
    margin-right: 10px;

}

h2{
    margin-bottom: 10px;
    margin-top: 25px;
}
.blue-button2{
    font-size: 12px;
    border: 1px solid #1183edf8 ;
    padding: 4px;
    border-radius: 15px;
    background-color: #1183edf8;
    color: white;
    margin-left: 5px;
}
.macro-section p{
    margin-top: 20px;
}
.violet-button{
    font-size: 12px;
    padding: 4px;
    border-radius: 15px;
    background-color: #8c0cdb;
    color: white;
    margin-left: 5px;
}
.red-cross{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 2px;
    margin-right: 10px;
}
.green-button{
    font-size: 12px;
    padding: 4px;
    border-radius: 15px;
    background-color: #086d14;
    color: white;
    margin-left: 5px;

}
.check-green{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 2px;
    margin-right: 10px;
}
.orange-button{
    font-size: 12px;
    padding: 4px;
    border-radius: 15px;
    background-color: #e07408;
    color: white;
    margin-left: 5px;
}

.rose-button{
    font-size: 12px;
    padding: 4px;
    border-radius: 15px;
    background-color: #e008d2;
    color: white;
    margin-left: 5px;
}